# Django & runtime artifacts
webfiles/
!webfiles/media/Profile/pictures/default_profile_picture.jpg
staticfiles/
.vscode/

# Git
.git/
.gitignore

# Environment
.env
*.env

# docker
.dockerignore
docker-compose.yml
docker-compose.*.yml

__pycache__
*.pyc