# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
db.sqlite3
*.sqlite3
/media/
webfiles/media/PostContent/*
webfiles/media/Profile/pictures/*
# default profile picture should not be ignored
!webfiles/media/Profile/pictures/default_profile_picture.jpg
staticfiles/

# Environment
.env
*.env
!.sample.env

# Git
.git/