version: '3.8'
services:
  
  redis:
    image: redis:5.0
    container_name: redis_dev
    expose:
      - 6379
  django_app:
    build:
      context: .
      dockerfile: Dockerfile.app
    container_name: django_app_container_dev
    env_file:
      - .dev.env
    volumes:
      - .:/app
    ports:
      - "8000:8000"