{% extends 'main/index.html' %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 border border-warning bg-light">
				
				<div class="my-2">
					{% if message %}
						<div class="alert alert-success my-1">
							{{ message }}
						</div>
						<a href="{% url 'main:home' %}">go to home...</a>
					{% endif %}
				</div>
				
				{% if change_pass_form %}
					<div class="m-2">
						<form method="POST">
							{% csrf_token %}
							{{ change_pass_form|crispy }}
							<button type="submit" class="w-100 btn btn-outline-warning">change</button>
						</form>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}