{% extends 'main/index.html' %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 border border-warning bg-light py-2">
				{% if validlink %}
					<form method="POST">
						{% csrf_token %}
						{{ form|crispy }}
						<button class="btn btn-warning w-100">reset</button>
					</form>
				{% else %}
					<div class="alert alert-warning">
						This password reset link was invalid. Please request a new one.
					</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock content %}