{% load form-filter %}

{% if user.is_authenticated %}
	<div class="p-2 rounded-top border border-warning">
		<p>Create post</p>
		<form id="post-form" action="{% url 'main:post-upload' %}">
			{% csrf_token %}
			{% attrs post_form.text_field class='form-control' style='height:128px; max-height:264px;' placeholder='Add some thoughts..' %}
			{% attrs post_form.image_field hidden='' %}
		</form>
		<div id="selected-images-field" class="w-100">
		</div>
		<div class="badge badge-light badge-pill w-100 px-2 my-1 p-1 d-flex border border-warning">
			<button id="add-image">
				<span class="badge badge-warning badge-pill md-text d-flex align-items-center">
					<svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-image" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M14.002 2h-12a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12z"/>
						<path d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V14h-14v-2l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z"/>
						<path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
					</svg>
					image
				</span>
			</button>
			<button class="ml-auto" id="add-post">
				<span class="badge badge-success badge-pill md-text">
					post
				</span>
			</button>
		</div>
	</div>

	<script defer>
		window.addEventListener('load', (event) => {
			$('#add-image').click((event) => {
				$('#id_image_field').click();
				event.stopPropagation();
				event.preventDefault();
			});

			$('#id_image_field').on('change', (event) => {
				var target = $('#selected-images-field');
				target.empty();
				target.prepend(
						`<p>Selected images: ${Object.keys(event.target.files).length} <a href="#">Preview ?</a></p>`
					);
			});

			$('#add-post').on('click', (event) => {
				var postForm = $('#post-form');
				var addPostButton = $('#add-post');
				addPostButton.addClass('disabled');
				$('#post-form-alert').remove();
				$.ajax({
					'url': "{% url 'main:post-upload' %}",
					'type': 'POST',
					'data': new FormData(postForm[0]),

					contentType: false,
					processData: false,

					success: (json) => {
						if(json.status === 1){
							throwPostLoadedEvent(json.pid);
							
							$('#posts-container').prepend(json.post_html);
							postForm.trigger('reset');
							$('#selected-images-field').empty();
							postForm.prepend(`
									<div class="alert alert-success" id="post-form-alert">
										${json.message}
									</div>
								`)
							setTimeout(() => {$('#post-form-alert').remove()}, 3000);
						}else{
							var errorMsg = "";
							for(let key in json.errors)
								errorMsg += json.errors[key][0].message;
							postForm.prepend(`
									<div class="alert alert-danger" id="post-form-alert">
										${errorMsg}
									</div>
								`)
						}
						addPostButton.removeClass('disabled');
					},

					error: (xhr, errmsg, errThrow) => {
						console.error(errmsg);
						addPostButton.removeClass('disabled');
					}
				});
				event.preventDefault();
			});
		});
	</script>
{% endif %}